body, html {
  font-family: Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  color: white;
  background: black;
  background: url('/img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.header .image {
  width: 453px;
  max-width: 95%;
  height: 100%;
}

#container {
  display: flex;
  justify-content: center;
}
.screen {
  max-width: 500px;
}

.rounded-button {
  border-radius: 2em;
  border: 0px;
  padding: 1em;
  font-size: 1rem;
  font-weight: 500;
  min-width: 10em;
  background: linear-gradient(white, rgb(255,210,210));
}
.minor-button {
  background: none;
  color: white;
  border: none;
  height: 3rem;
  font-size: 0.7rem;
}

.select-screen {
 text-align: center;
}
.select-screen li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.select-screen .team-select {
  padding: 0.5rem 0;
  margin: 0;
}
.select-screen .team-select li {
  list-style: none;
}
.select-screen .team-select button {
  background: var(--team-color);
  border: 4px solid rgba(0, 0, 0, 0.5);
}
.screen hr {
  height: 1%;
  border: none;
  border-top: 2px dotted rgb(255, 200, 200);
  margin: 0.5rem 0;
}

.register-screen {
  text-align: center;
  margin-top: 1rem;
}
.register-screen form > .label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.register-screen form > .label:not(:first-of-type) {
  margin-top: 1rem;
}
.register-screen input[type=text] {
  border-radius: 2rem;
  border: 4px solid rgba(255, 100, 100, 0.5);
  transition: border-color 0.3s;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  max-width: 95%;
}
.register-screen input[type=text]:focus {
  border-color: rgba(255, 100, 100, 1);
}
.register-screen .button-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}
.register-screen .button-row .primary {
  font-weight: bold;
  font-size: 1rem;
}

.color-picker {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}
.color-picker > .swatch > input {
  display: none;
}
.color-picker > .swatch > .label {
  background: var(--swatch-color);
  outline-color: transparent;
  border: 5px solid transparent;
  transition: border-color 0.3s;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 100%;
}
.color-picker > .swatch > input:checked+.label {
  border-color: rgba(255, 255, 255, 0.8);
  filter: brightness(1.05);
}

.loading-screen .loading-indicator {
  margin-top: 5rem;
  width: 10rem;
}

.loading-indicator > .dot {
  fill: rgb(255, 50, 50);
  animation: loading-indicator-swell 1.7s infinite backwards ease-out;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
.loading-indicator > .dot:nth-child(2) {
  animation-delay: 0.25s;
}
.loading-indicator > .dot:nth-child(3) {
  animation-delay: 0.5s;
}
@keyframes loading-indicator-swell {
  from { transform: scale(0.2); }
  22% { transform: scale(1); }
  35%, to { transform: scale(0.2); }
}

.error-screen {
  background: rgb(255, 100, 100, 0.6);
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
}
.error-screen .title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}

.quiz-screen {
  padding: 1rem;
}
.quiz-screen .title {
  background: var(--team-color);
  font-weight: bold;
  padding: .5rem;
  border-radius: 2rem;
  text-align: center;
  color: black;
}
.quiz-screen .hint {
  background-color: rgba(255, 50, 50, 0.5);
  padding: 1rem;
  border-radius: 2rem;
}
.quiz-screen .hint a,
.quiz-screen .hint a:visited {
  color: white;
}
.quiz-screen .photos img {
  max-width: 100%;
  width: 600px;
  heigt: 400px;
  object-fit: cover;
  border-radius: 2rem;
}
.quiz-screen textarea {
  font-family: Arial, sans-serif;
  border-radius: 2rem;
  border: 4px solid rgba(255, 100, 100, 0.5);
  transition: border-color 0.3s;
  padding: 0.7rem 1.5rem;
  font-size: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  height: 8rem;
  resize: none;
}
.quiz-screen textarea:focus {
  border-color: rgba(255, 100, 100, 1);
}
.quiz-screen .button-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}
.quiz-screen .button-row .primary {
  font-weight: bold;
  font-size: 1rem;
}
.quiz-screen.finished .explanation {
  padding: 1rem;
}

.team-progress {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
}
.team-progress .name {
  background: var(--team-color);
  color: black;
  border-radius: 1rem;
  font-weight: bold;
  padding: 0.5rem;
}
.team-progress .progress {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem;
}
.team-progress .delete-team {
  display: inline-block;
}

.manage-screen .button-row {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  justify-content: space-around;
}
.manage-screen .finish {
  background: lemonchiffon;
}
.manage-screen .restart {
  background: green;
}
.manage-screen .reset {
  color: red;
  border: 1px solid red;
  border-radius: 2rem;
}

.answer-summary {
  padding: 1rem;
}
.answer-summary .question:not(:first-of-type) {
  margin-top: 4rem;
}
.answer-summary .summary {
  margin-top: 0.5rem;
  text-align: center;
}
.answer-summary .title {
  font-size: 2rem;
  text-align: center;
}
.answer-summary .answer {
  background: var(--team-color);
  color: black;
  margin: 1rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  position: relative;
  margin-bottom: 1.5rem;
  white-space: pre-line;
}
.answer-summary .answer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: var(--team-color);
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}
.answer-summary .answer .content{
  overflow: auto;
}
.answer-summary .answer .name {
  font-weight: bold;
  display: inline;
  float: right;
}
