html, body {
  padding: 0;
  margin: 0;
}
body {
  background: black;
  color: white;
}
.header {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.header .image {
  width: 453px;
  max-width: 95%;
  height: 100%;
}

.color-picker {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  column-gap: 10px;
  row-gap: 10px;
}
.color-picker > .swatch > input {
  display: none;
}
.color-picker > .swatch > .label {
  background: var(--swatch-color);
  outline-color: transparent;
  border: 5px solid transparent;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 100%;
}
.color-picker > .swatch > input:checked+.label {
  border-color: rgba(255, 255, 255, 0.8);
  filter: brightness(1.05);
}
